{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-light text-center p-4">
<h1>Agence Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem distinctio praesentium nobis assumenda quaerat dignissimos unde laborum dolores beatae facere ducimus alias fugit eum ea, ullam nostrum doloremque aliquam temporibus.</p>
</div>
{% endblock %}